.chatbot-collapsed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.chatbot-bar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 100px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.92);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 12px;
    z-index: 2;
}

.chatbot-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    flex: 1;
}

.gpt-icon {
    margin-right: 200px;
}

.bot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.chatbot-send {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-send:hover img {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}